aiofiles==24.1.0
aiogram==3.15.0
aiohappyeyeballs==2.7.1
aiohttp==3.10.11
aiosignal==1.4.0
alembic==1.14.0
annotated-types==0.8.0
asyncpg==0.30.0
attrs==26.1.0
certifi==2026.7.22
et_xmlfile==2.0.0
frozenlist==1.8.0
greenlet==3.5.6
idna==3.20
loguru==0.7.3
magic-filter==1.0.12
Mako==1.4.1
MarkupSafe==3.0.3
multidict==6.9.1
openpyxl==3.1.5
propcache==0.5.4
pydantic==2.9.2
pydantic-settings==2.6.0
pydantic_core==2.23.4
python-dotenv==1.0.1
pytz==2024.2
redis==5.2.0
SQLAlchemy==2.0.36
typing_extensions==4.16.0
yarl==1.25.1
